<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="ml-2">
			<%= link_to 'Banks', banks_path, class: "text-black block pl-3 pr-4 py-2 bg-blue-700 md:bg-transparent md:p-0 rounded" %>
			<%= link_to 'Suppliers', suppliers_path, class: "text-black block pl-3 pr-4 py-2 bg-blue-700 md:bg-transparent md:p-0 rounded" %>
			<%= link_to 'Dashboards', dashboards_path, class: "text-black block pl-3 pr-4 py-2 bg-blue-700 md:bg-transparent md:p-0 rounded" %>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', custom_destroy_user_session_path, method: :delete %>
      <% else %>
        <a href="<%= new_user_session_path %>">Log in</a>
        <a href="<%= new_user_registration_path %>">Sign up</a>
      <% end %>
    </div>
  </div>
</nav>
