<%= simple_form_for(@bank, html: { class: 'mt-5' }) do |form| %>
  <% if @bank.errors.any? %>
    <div class="alert alert-danger p-2 mb-4 rounded-md">
      <ul>
        <%= form.error_notification %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.input :name, label: false, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.button :submit, t('banks.shared.save'), class: "btn btn-primary" %>
  </div>
<% end %>
