<%= simple_form_for(@bank) do |form| %>
	<% if @bank.errors.any? %>
	  <div class="bg-red-100 text-red-500 p-2 mb-4 rounded-md">
	    <ul>
	      <%= form.error_notification %>
	    </ul>
	  </div>
	<% end %>

	<div class="mb-4">
	  <%= form.label :name, class: "block text-gray-600 font-bold mb-2" %>
	  <%= form.input :name, label: false %>
	</div>

	<div class="mb-4">
	  <%= form.submit t('banks.shared.save'), class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700" %>
	</div>
<% end %>
