<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4"><%= t('home.banks') %></h1>
  <p class="text-lg mb-2"><%= t('home.total_banks') %> <%= @banks_count %></p>

  <h1 class="text-3xl font-bold mt-8 mb-4"><%= t('home.suppliers') %></h1>
  <p class="text-lg mb-2"><%= t('home.total_suppliers') %> <%= @suppliers_count %></p>
</div>
