<%= simple_form_for(@supplier, html: { class: 'mb-4' }) do |form| %>
  <% if @supplier.errors.any? %>
    <div class="alert alert-danger mb-4 rounded-md">
      <%= form.error_notification %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.input :name, label: false, class: "form-control" %>

    <%= form.label :nit, class: "form-label" %>
    <%= form.input :nit, label: false, class: "form-control" %>

    <%= form.label :contact_name, class: "form-label" %>
    <%= form.input :contact_name, label: false, class: "form-control" %>

    <%= form.label :contact_phone, class: "form-label" %>
    <%= form.input :contact_phone, label: false, class: "form-control" %>

    <%= form.label :account_number, class: "form-label" %>
    <%= form.input :account_number, label: false, class: "form-control" %>

    <%= form.label :bank_id, class: "form-label" %>
    <%= form.collection_select :bank_id, Bank.all || [], :id, :name, { prompt: t('suppliers.form.banks') }, { class: "form-select" } %>
    <%= form.error :bank_id, message: t('suppliers.form.banks'), class: "text-danger" %>
  </div>

  <div class="mb-4">
    <%= form.submit t('suppliers.shared.save'), class: "btn btn-primary" %>
  </div>
<% end %>
