<div class="bg-white p-4 mb-4 shadow-md rounded-md">
  <h2 class="text-xl font-bold mb-2"><%= supplier.name %></h2>
  <p class="text-gray-600"><%= t('suppliers.shared.supplier_id') %>: <%= supplier.id %></p>

  <%= link_to t('suppliers.index.view_details'), supplier_path(supplier), class: "text-blue-500 hover:underline mr-2" %>
  <%= link_to t('suppliers.shared.edit'), edit_supplier_path(supplier), class: "text-yellow-500 hover:underline mr-2" %>
  <%= button_to t('suppliers.index.delete'), supplier_path(supplier), method: :delete, class: "text-red-500 hover:underline", remote: true %>
</div>
