<div class="bg-white p-4 mb-4 shadow-md rounded-md">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('suppliers.form.name') %></th>
        <th><%= t('suppliers.form.contact_name') %></th>
        <th><%= t('suppliers.form.contact_phone') %></th>
        <th><%= t('suppliers.form.bank') %></th>
        <th><%= t('suppliers.form.account_number') %></th>
        <th colspan="3"><%= t('suppliers.form.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% suppliers.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.contact_name %></td>
          <td><%= p.contact_phone %></td>
          <td><%= p.bank.name %></td>
          <td><%= p.account_number %></td>
          <td><%= link_to t('suppliers.form.show'), p, class: "text-blue-500 hover:underline mr-2" %></td>
          <td><%= link_to t('suppliers.form.edit'), edit_supplier_path(p), class: "text-yellow-500 hover:underline mr-2" %></td>
          <td><%= button_to t('suppliers.form.delete'), p, method: :delete, class: "text-red-500 hover:underline", remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
