<!DOCTYPE html>
<html>
  <head>
    <title>BankProviderApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path, class: "text-blue-500 hover:underline mr-2" %>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', custom_destroy_user_session_path, method: :delete %>
      <% else %>
        <a href="<%= new_user_session_path %>">Log in</a>
        <a href="<%= new_user_registration_path %>">Sign up</a>
      <% end %>
    </div>

    <% flash.each do |key, value| %>
      <div class="flash <%= key == 'notice' ? 'flash-notice' : 'flash-alert' %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
